.tablemain {
  border: 2px solid black;
  height: 150px;
  width: 100%;
  background-color: lightgrey;
  border-spacing: 0;
  border-radius: 2px;
}
td {
  height: 100px;
  box-shadow: 2px 2px 2px black;
}
h2 {
  transform: rotate(270deg);
  text-shadow: 1px 1px 1px black;
  font-size: 35px;
}
.td1 {
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 2px black;
}
